<section class="container-fluid">
  <div class="card custom-shadow ">
    <div class="card-body">
      <div style="display: flex; justify-content: space-between;">
        <h3 class="text-center card-title">Trabajo Desde Casa .NET Developer / Ref. 0001S</h3>
        <img class="image-vacante" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c4a2.png" alt="">
      </div>
      <hr>
      <div class="information">
        <div>
          <mat-icon>calendar_today</mat-icon>
          Fecha de publicación
        </div>
        <div>
          <mat-icon>query_builder</mat-icon>
          $5'000.000
        </div>
        <div>
          <mat-icon>query_builder</mat-icon>
          Tiempo completo
        </div>
        <div>
          <mat-icon>query_builder</mat-icon>
          Tiempo completo
        </div>
        <div>
          <mat-icon>query_builder</mat-icon>
          Tiempo completo
        </div>
        <div>
          <mat-icon>query_builder</mat-icon>
          Tiempo completo
        </div>
        <div>
          <mat-icon>query_builder</mat-icon>
          Tiempo completo
        </div>
      </div>
      <hr>
      <div>
        <h5>Acerca del empleo</h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis eveniet illum veritatis dicta eum unde
          aperiam quam? Fugit fuga illum placeat voluptatum neque ullam perferendis, sunt quo tempore repellat et!
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, maiores ea blanditiis, dignissimos
          delectus excepturi et qui accusamus illum odio pariatur distinctio ipsam porro ullam. Neque magnam officiis
          nesciunt quae.
        </p>
      </div>
      <hr>
      <div>
        <h5>Responsabilidades</h5>
        <ul>
          <li>Work with DevOps and QA to build a quality focused CI/CD pipeline</li>
          <li>Work with DevOps and QA to build a quality focused CI/CD pipeline</li>
          <li>Work with DevOps and QA to build a quality focused CI/CD pipeline</li>
          <li>Work with DevOps and QA to build a quality focused CI/CD pipeline</li>
          <li>Work with DevOps and QA to build a quality focused CI/CD pipeline</li>
          <li>Work with DevOps and QA to build a quality focused CI/CD pipeline</li>
        </ul>
      </div>
      <hr>
      <div>
        <h5>Requerimientos</h5>
        <ul>
          <li>3+ years of experience using a modern Python frameworks like Django or Flask</li>
          <li>3+ years of experience using a modern Python frameworks like Django or Flask</li>
          <li>3+ years of experience using a modern Python frameworks like Django or Flask</li>
          <li>3+ years of experience using a modern Python frameworks like Django or Flask</li>
          <li>3+ years of experience using a modern Python frameworks like Django or Flask</li>
          <li>3+ years of experience using a modern Python frameworks like Django or Flask</li>
          <li>3+ years of experience using a modern Python frameworks like Django or Flask</li>
          <li>3+ years of experience using a modern Python frameworks like Django or Flask</li>
        </ul>
      </div>
      <hr>
      <div class="d-grid gap-2">
        <button  class="btn btn-success btn-block btn-postularse">Postularme</button>
      </div>
    </div>
  </div>
</section>