<div class="container-fluid">
    <br>
    <mat-toolbar>
      <span class="example-spacer"></span>
      <span>Mis Experiencias Personales</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>
  
  <div class="modalc" #modalBack>
    <div class="container-fluid">
      <mat-card class="custom-shadow">
        <mat-card-content>
          <form >
            <div class="form-row">
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>CARGO</mat-label>
                <input matInput placeholder="Ej: Contador" formControlName="cargo">
              </mat-form-field>
              <mat-form-field appearance="outline" class="form-field">
                <mat-label>NOMBRE DE LA EMPRESA</mat-label>
                <input matInput placeholder="Ej: Nisann" formControlName="nomempresa">
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>FUNCIONES Y LOGROS DEL CARGO</mat-label>
                <input matInput placeholder="Funciones" formControlName="funciones">
              </mat-form-field>
            </div>
            
            <div class="form-row">

                <!--
                    
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>DIRECCION</mat-label>
                <input matInput placeholder="calle 18 # 00-00" formControlName="direccion">
              </mat-form-field>
                 -->
              
                    <mat-radio-group aria-label="Select an option" class="form-field" appearance="outline">
                        <mat-label>Sigue Trabajando Ahi</mat-label>
                        <br>
                        <mat-radio-button value="1">SI</mat-radio-button>
                        <mat-radio-button value="2">NO</mat-radio-button>
                      </mat-radio-group>
                  

              <mat-form-field color="accent" class="form-field" appearance="outline">
                <mat-label>Fecha de ingreso</mat-label>
                <input matInput [matDatepicker]="picker1">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              
              <mat-form-field color="accent" class="form-field" appearance="outline">
                <mat-label>Fecha de retiro</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2 color="primary"></mat-datepicker>
              </mat-form-field>

              
            </div>
            
            
  
            
          </form>
        </mat-card-content>
      </mat-card>
  
    </div>
  </div>