<div class="container">
    <br>
    <mat-toolbar>
        <span class="example-spacer"></span>
        <span>REGISTRO DE HOJA DE VIDA</span>
        <span class="example-spacer"></span>
    </mat-toolbar>
</div>

<div class="modalc" #modalBack>
    <form [formGroup]="form" (ngSubmit)="guardar()">

        <div class="general">
            <div class="fondo">
                <div class="ex">
                    <br>
                    <mat-form-field class="ancho">
                        <mat-label>ESTADO CIVIL</mat-label>
                        <mat-select class="form-control" id="nombre" formControlName="estado_civil">
                            <mat-option *ngFor="let item of estadoc" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>ESTUDIO</mat-label>
                        <mat-select formControlName="estudios">
                            <mat-option *ngFor="let item of estudio" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field>
                        <mat-label>ESTADO</mat-label>
                        <mat-select formControlName="estado">
                            <mat-option *ngFor="let item of estado" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <br>
                    <mat-form-field>
                        <mat-label>CARGO ASPIRADO</mat-label>
                        <mat-select formControlName="cargo_aspirado">
                            <mat-option *ngFor="let item of cargo" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <mat-form-field>
                        <mat-label>EXPERIENCIA EN EL CARGO</mat-label>
                        <mat-select formControlName="experiencia">
                            <mat-option *ngFor="let item of experiencia" [value]="item">
                                {{item}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class=" buton">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br>
                    <button type="submit" mat-raised-button class="env">Enviar </button>
                </div>

            </div>
            <div class="cent">
                <div class="da">
                    <br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>NOMBRES</mat-label>
                        <input matInput placeholder="nombre" formControlName="nombre">
                    </mat-form-field>
                    <br><br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>APELLIDOS</mat-label>
                        <input matInput placeholder="apellido" formControlName="apellidos">
                    </mat-form-field>
                    <br><br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>CORREO</mat-label>
                        <input matInput placeholder="example@gmail.com" formControlName="correo">
                    </mat-form-field>
                    <br><br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>TELEFONO</mat-label>
                        <input matInput placeholder="3108997575" formControlName="telefono">
                    </mat-form-field>
                    <br><br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>DIRECCION</mat-label>
                        <input matInput placeholder="calle 18 # 00-00" formControlName="direccion">
                    </mat-form-field>
                    <br><br>
                    <mat-form-field class="example-full-width ancho">
                        <mat-label>CIUDAD</mat-label>
                        <input matInput placeholder="Popayán" formControlName="ciudad">
                    </mat-form-field>
                </div>
            </div>

            <div class="hoja">
                <div class="doc">
                    <br>
                    <br><br><br><br><br><br>
                    <img class="img" src="../../../../../assets/img/plan-de-estudios.png">
                    <mat-label>Archivo PDF</mat-label>
                    <br><br>
                    <input (change)="capturarFile($event)" type="file" formControlName="curriculum">
                    <br>
                </div>
            </div>
        </div>
    </form>
</div>