<mat-toolbar color="primary">
    <span>MAQUITEC</span>
    
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard" >INICIO</button>
    <button mat-button routerLink="/dashboard/postulados" >HDV</button>
    <button mat-button routerLink="/dashboard/postularse" >POSTULACION</button>
    <span class="example-spacer"></span>

    <button (click)="onLogout()" routerLink="/logout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    
  </mat-toolbar>
